            
            body{
               
            background: rgb(101, 177, 248);  
            margin: 0;
                border: 1px solid white;
            }
    h1{
         text-indent:800px;
    
}
form {
  background: yellow;
  padding: 16px;
  border: 3px solid black;
}
            block{
                padding: 10px;
                
                
                
                width: 100%;
            
                border: 2px solid black;
            }
        